* {
  padding: 0;
  box-sizing: border-box;
  border: 1px solid white;
}

body {
  width: 100vw;
  font-family: "Inter", sans-serif;
  height: 100%;
  min-width: 100vw;
  min-height: 100vh;
  line-height: 1.6;
  background-color: #161616;
  color: #00ffff;
}


