.rootLayout {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: max-content auto 75px;
  place-items: center;
}

header {
  width: 100%;
  background-image: linear-gradient(to bottom, #00ffff36, rgba(0, 255, 255, 0));
}

.header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
}

.headerLogo {
  display: flex;
  align-items: center;
}

.headerImg {
  width: 50px;
  margin-right: 15px;
}
.headerTitleImg {
  width: 120px;
  height: 55px;
  margin-left: 25px;
}

header h1 {
  color: #fff;
  font-size: 1.5rem;
  font-family: "Arial", sans-serif;
}

.headerFilter {
  display: flex;
  flex-direction: column;
}

.categoriesContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.categoriesContainer nav{
  cursor: pointer;
  color: white;
}

.platformNav,
.categoriesNav {
  padding: 0 30px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  background-image: linear-gradient(to bottom, #00ffff1a, rgba(0, 255, 255, 0));
  transition: all 1s;
}


.categoriesNav:hover {
  scale: 1.5;
}

.platformNav:hover {
  scale: 1.5;
}

.category {
  list-style: none;
  font-size: 0.6em;
  flex: 1 1 30%;
  color: white;
  width: fit-content;
  text-align: center;
  border-radius: 5px;
}

li span {
  cursor: pointer;
}

.content {
  width: 100%;
  height: 100%;
  align-self: center;
}

footer {
  width: 100%;
  color: white;
  text-align: center;
  background-image: linear-gradient(to top, #00ffff36, rgba(0, 255, 255, 0));
}
