footer {
  width: 100%;
  color: white;
  text-align: center;
  background-image: linear-gradient(to top, #00ffff36, rgba(0, 255, 255, 0));
}

header {
  width: 100%;
  background-image: linear-gradient(to bottom, #00ffff36, rgba(0, 255, 255, 0));
}

header img {
  width: 50px;
  margin-right: 15px;
}

header h1 {
  color: #fff;
  font-size: 1.5rem;
  font-family: "Arial", sans-serif;
}

.header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-row: 1fr;
  align-items: center;
}

.rootLayout {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 9% auto 75px;
  place-items: center;
}

.headerLogo {
  display: flex;
  align-items: center;
}

.categoriesContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.categoriesNav {
  padding: 0 30px; 
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-items: center;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  background-image: linear-gradient(to bottom, #00ffff1a, rgba(0, 255, 255, 0));
  transition: all 1s;
}

.categoriesNav:hover{
  scale: 1.2;
}

.container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.category {
  list-style: none;
  font-size: 0.6em;
  flex: 1 1 30%;
  color: white;
  width: fit-content;
  text-align: center;
  border-radius: 5px;
}

li span{
  cursor: pointer;
}
